Start-Sleep -Seconds 10
Add-Type -AssemblyName System.Windows.Forms
[System.Windows.Forms.Application]::SetSuspendState('Suspend', $false, $false)
Start-Process "C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" "--kiosk {{ base_url }}{{ worker_id }}"